<link rel="stylesheet" href="/css/styles.css">
<div class="login-container">
        <h1>Sign Up</h1>
        <p class="signup-text">Already have an account? <a href="/login">Log In</a></p>
        <div class="social-login">
          <button class="google"><a class="btn btn-block" href="/auth/google" role="button" style="text-decoration: none; color: black;">Google</a></button>
            <button class="facebook">Facebook</button>
            <button class="github">Github</button>
            <button class="feide">Feide</button>
        </div>
        <div class="divider">OR</div>
        <form action="/register" method="POST" class="login-form">
          
            <input type="email" name="username" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="login-button">Sign Up</button>
        </form>
    </div>